.DS_Store*
.idea
.vscode
data/
backup/
scripts/.env*
.env.local

*.htaccess
*.netbeans.xml
*/package-lock.json
*/node_modules

*.sass-cache
app/wp-content/uploads/
app/wp-content/cache/
app/wp-content/w3tc-config/
app/wp-content/object-cache.php
app/wp-config.php
app/wp-content/wflogs/ 
app/wp-content/uploads/
app/wp-content/w3tc-config/
app/wp-content/w3tc-config/master.php
app/wp-content/advanced-cache.php
app/wp-content/plugins/devwpk-*
app/wp-content/languages/wpml/